* {
  box-sizing: border-box;
}
.all {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}



body {
  background-image: url(../img/fond.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
}
#lapin {
  background-color: transparent;
  border: transparent;
  img {
    height: 30vh;
    width: auto;
  }
}
.panneau {
  height: 40vh;
  justify-content: end;
}